<h2>Your cart</h2>
<table>
	<%= render(cart.line_items) %>

	<tr class="total_line">
		<td colspand="2">Total</td>
		<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
		
	</tr>
</table>
<% if @order.nil? %>
<%= button_to 'Checkout', new_order_path, method: :get %>
<% else %>
<% end %>
<%= button_to 'Empty cart', cart, method: :delete,remote: true, data: { confirm: 'Are you sure?'} %>